<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form method="POST" action="/">
        <label for="video_link">Cole o link do vídeo do YouTube:</label><br>
        <input type="text" id="video_link" name="video_link" required><br><br>

        <label for="download_path">Escolha o local para salvar o vídeo:</label><br>
        <input type="text" id="download_path" name="download_path" value="./downloads" required><br><br>

        <button type="submit">Baixar</button>
    </form>
</body>
</html>
